@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
    font-family: 'Poppins' , sans-serif;
}

#whole-struct {

    box-sizing: border-box;
}

#home {
    background-image: url("images/background.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-position-x: 80px;
    background-position-y: 90px;
    justify-content: center;
    align-items: flex-start;

}

#about {
    text-align: center;
}

